__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Utilities textrank
*.pth
*.vscode
temp/
*.model
*.npy
*.pkl
*.bz2
*.bin

#folder
pdf_folder/
extracted_text/

#bigfile
models/embedding_model/fasttext_ina_100_with_phrases.bin
models/embedding_model/temp_sentences_with_phrases.txt
models/embedding_model/processed_wiki_id.txt
